{% extends "base.html" %}
{% block title %}MusicPlayer{{ ' - %s'|format(player.guild.name) if player }}{% endblock title %}
{% block modalblock %}
{% if player %}
  <div class="modal fade" id="addModal" tabindex="-1" role="dialog" aria-labelledby="addModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <form action="{{ url_for('on_player_add_route', guild=player.guild.id) }}" method="POST">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Adicionar à playlist</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <div class="input-group">
              <input type="text" class="form-control" name="url" placeholder="https://www.youtube.com/watch?v=" required>            
              <span class="input-group-addon">
                <input type="checkbox" name="playlist">Playlist
              </span>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
            <button type="submit" class="btn btn-primary">Adicionar</button>
          </div>
        </div>
      </form>
    </div>
  </div>
{% endif %}
{% endblock %}
{% block content %}
{% if guilds %}
  <ul>
    {% for guild_id in guilds %}
      <li><a href="{{ url_for('on_player_route', guild=guild_id) }}">{{ guilds[guild_id].guild.name }}</a></li>
    {% endfor %}
  </ul>
{% elif player %}
  {% if player.now_playing %}
    <div class="card m-auto w-50" style="margin-top: 1em;">
      <div class="card-body">
          <div class="embed-responsive embed-responsive-16by9">
            <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/{{ player.now_playing.info['id'] }}?rel=0" allowfullscreen></iframe>
          </div>
      </div>
      <div class="card-footer text-center">
        {% if player.paused %}
          <a class="btn btn-primary" href="{{ url_for('on_player_queue_action_route', guild=player.guild.id, action='resume') }}" role="button">Resumir</a>
        {% else %}
          <a class="btn btn-primary" href="{{ url_for('on_player_queue_action_route', guild=player.guild.id, action='pause') }}" role="button">Pausar</a>
        {% endif %}
        <a class="btn btn-primary" href="{{ url_for('on_player_queue_action_route', guild=player.guild.id, action='skip') }}" role="button">Próximo</a>
      </div>
    </div>
  {% endif %}
  <div class="card" style="max-height: 20em; margin-top: 1em;">
    <h4 class="card-header text-center">Playlist {{ '%d/%d%s'|format(player.queue|count, player.items|count+player.queue|count, ' 🔄' if player.items else '') }}</h4>
    {% if player.queue %}
    <div class="card-body p-0" style="overflow-y: auto">
      <table class="table table-sm table-hover m-0">
        <tbody>
          {% for link in player.queue %}
          <tr {{ 'class=table-primary' if link.info['id'] == player.now_playing.info['id'] }}>
            <th class="text-center" scope="row">{{ loop.index }}</th>
            <td class="text-center"><a href="{{ url_for('on_player_action_route', guild=player.guild.id, action='play', index=loop.index0) }}">▶️</a></td>
            <td class="text-center"><a href="{{ url_for('on_player_action_route', guild=player.guild.id, action='remove', index=loop.index0) }}">❌</a></td>
            <td><a href="https://www.youtube.com/watch?v={{ link.info['id'] }}">{{ link.info['title'] }}</a></td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
    {% else %}
    <div class="card-body text-center">
      <p class="alert alert-info" role="alert">Playlist vazia.</p>
    </div>
    {% endif %}
    <div class="card-footer text-center">
      <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#addModal">Adicionar</button>
      <a class="btn btn-primary" href="{{ url_for('on_player_queue_action_route', guild=player.guild.id, action='shuffle') }}" role="button">Shuffle</a>
      <a class="btn btn-primary" href="{{ url_for('on_player_queue_action_route', guild=player.guild.id, action='clear') }}" role="button">Limpar</a>
    </div>
  </div>
{% else %}
  <p class="text-center alert alert-warning" role="alert">Nenhum player encontrado!</p>
{% endif %}
{% endblock content %}
