{% extends "base.html" %}
{% block title %}MusicPlayer{{ ' - %s'|format(player.guild.name) if player }}{% endblock title %}
{% block content %}
{% if guilds %}
  <ul>
    {% for guild_id in guilds %}
      <li><a href="{{ url_for('on_player_route', guild=guild_id) }}">{{ guilds[guild_id].guild.name }}</a></li>
    {% endfor %}
  </ul>
{% elif player %}
  <form action="{{ url_for('on_player_add_route', guild=player.guild.id) }}" method="POST">
    <div class="form-group">
      <input type="text" class="form-control" name="url" id="url" placeholder="https://www.youtube.com/watch?v=" required>
      <button type="submit" class="btn btn-primary">Adicionar</button>
      <label class="checkbox-inline">
        <input type="checkbox" name="shuffle" id="shuffle">Shuffle?
      </label>
    </div>
  </form>
  {% if player.now_playing %}
    <p>{% if player.paused %}⏹{% else %}▶{% endif %}: <a href="https://www.youtube.com/watch?v={{ player.now_playing.info['id'] }}">{{ player.now_playing.info['title'] }}</a></p>
  {% endif %}
  {% if player.queue %}
    <ol>
    {% for link in player.queue %}
      <li><a href="{{ url_for('on_player_remove_route', guild=player.guild.id, index=loop.index0) }}">❌</a><a href="https://www.youtube.com/watch?v={{ link.info['id'] }}">{{ link.info['title'] }}</a></li>
    {% endfor %}
    </ol>
  {% endif %}
{% else %}
  <h1>Nenhum player encontrado!</h1>
{% endif %}
{% endblock content %}
